/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    COMMON
-----------------*/
body{
    max-width: 1700px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*----------------
    TYPOGRAPHY
-----------------*/

body{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

h1{
    color: #E53170;
}

p{
    font-style: normal;
}


/*----------------
    MAIN
-----------------*/

.main-container{
    width: 60%;
    margin: auto;
}